// Button colors
$button_bg: #E2994E;            // Золотистый для кнопок
$button_font: #FFFFFF;          // Белый цвет текста на кнопках
$button_hover: #B9753F;         // Бронзовый оттенок для кнопки при наведении
$button_active: #A6793E;        // Темный бронзовый для состояния нажатия
$button_disabled_bg: #F5D6A1;   // Светло-золотистый для неактивных кнопок
$button_disabled_font: #C0C3D6; // Светло-серый для текста на неактивных кнопках

// Input colors
$input_bg: #F0F0F3;             // Светлый фон для полей ввода
$input_font: #29282D;           // Темный серо-черный текст
$input_br: #C0C3D6;             // Светлая граница для инпутов
$input_placeholder: #A9AEC1;    // Серо-голубой для плейсхолдера
$input_focus_br: #E2994E;       // Золотистый для бордюра при фокусе
$input_error_br: #B9753F;       // Бронзовый оттенок для бордюра при ошибке

// Background colors
$main_bg: #FFFFFF;              // Основной светлый фон сайта
$card_bg: #F7F7F9;              // Очень светлый серый фон для карточек
$header_bg: #F0F0F3;            // Светлый фон для шапки
$footer_bg: #F0F0F3;            // Светлый фон для футера
$sidebar_bg: #F5F5F7;           // Светло-серый для боковых панелей или меню
$modal_bg: rgba(240, 240, 243, 0.95); // Полупрозрачный светло-серый для модальных окон

// Text colors
$text: #29282D;                 // Темный серо-черный текст
$title: #29282D;                // Темный цвет для заголовков
$link: #E2994E;                 // Золотистый для ссылок
$link_hover: #B9753F;           // Бронзовый оттенок для ссылок при наведении
$link_visited: #A9AEC1;         // Светло-серый для посещенных ссылок

// Alert colors
$success_bg: #E0E0E5;           // Светло-серый для успешных уведомлений
$success_text: #29282D;         // Темный текст для успешных уведомлений
$error_bg: #F7CBCB;             // Светло-красный для ошибок
$error_text: #29282D;           // Темный текст для уведомлений об ошибках
$warning_bg: #F5E1C5;           // Светло-желтый для предупреждений
$warning_text: #29282D;         // Темный текст на фоне предупреждений

// Border and Divider colors
$divider: #C0C3D6;              // Светлая граница для разделительных линий
$border_light: #D8D8DF;         // Очень светло-серый для легких границ
$border_dark: #A9AEC1;          // Средне-серый для тяжелых границ

// Additional accent colors
$accent_gold: #E2994E;          // Золотистый для акцентных элементов
$accent_bronze: #B9753F;        // Бронзовый для уникальных акцентов или кнопок

// Shadows and Highlights
$shadow_light: rgba(0, 0, 0, 0.1); // Легкая тень для выделения элементов
$shadow_dark: rgba(0, 0, 0, 0.3);  // Глубокая тень для модальных окон и всплывающих элементов
$highlight: rgba(255, 255, 255, 0.4); // Легкий светлый слой для выделения или фоновых эффектов
